html, body {
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    user-select: none;
  }
  
  span {
    box-sizing: border-box;
  }
  .fill{
    width: 100%;
    height: 100%;
  }
  .iphone, .screen {
    border: 0.5vh solid #525c6b;
  }
  
  .iphone {
    padding: 10vh 1.5vh;
    border-radius: 6vh;
    position: relative;
  }
  
  .screen{
    background: linear-gradient(to top, #c0c0c5 11.5vh, #acacad 11.5vh);
    /* background: linear-gradient(to bottom, #ff268e 0%, #ff694f 100%); */
    display: flex;
    flex-wrap: wrap;
    padding: 1.5vh;
    width: 36vh;
  }
  
  .icon {
    width: 6vh;
    height: 6vh;
    border-radius: 1.5vh;
    background-color: #f7f8fa;
    margin: 1.5vh;
  }
  
  .icon:active {
    opacity: 0.75;
  }
  
  .icon:nth-last-of-type(-n+4) {
    margin-top: 3vh;
  }
  
  @keyframes wiggle {
    25% {
      transform: rotate(3.5deg);
    }
    75% {
      transform: rotate(-3.5deg);
    }
  }
  
  .wiggle .icon:nth-of-type(1) {
    animation: wiggle 0.2735998389s linear infinite 0.1658458885s;
    transform-origin: 55.7924484005% 25.6496544874%;
  }
  
  .wiggle .icon:nth-of-type(2) {
    animation: wiggle 0.238096182s linear infinite 0.0951992405s;
    transform-origin: 60.8473317776% 49.5466375561%;
  }
  
  .wiggle .icon:nth-of-type(3) {
    animation: wiggle 0.2997741432s linear infinite 0.0841090651s;
    transform-origin: 50.7248352295% 43.8749718732%;
  }
  
  .wiggle .icon:nth-of-type(4) {
    animation: wiggle 0.2751311151s linear infinite 0.1349335499s;
    transform-origin: 28.2235192006% 40.5891379505%;
  }
  
  .wiggle .icon:nth-of-type(5) {
    animation: wiggle 0.2874409085s linear infinite 0.1649765092s;
    transform-origin: 64.4391418389% 38.5446661402%;
  }
  
  .wiggle .icon:nth-of-type(6) {
    animation: wiggle 0.2600748072s linear infinite 0.1395444892s;
    transform-origin: 39.0617180839% 71.7974675717%;
  }
  
  .wiggle .icon:nth-of-type(7) {
    animation: wiggle 0.2740234025s linear infinite 0.1014881255s;
    transform-origin: 45.4742416476% 50.5387337973%;
  }
  
  .wiggle .icon:nth-of-type(8) {
    animation: wiggle 0.2625333582s linear infinite 0.0723834507s;
    transform-origin: 42.460493449% 25.49949914%;
  }
  
  .wiggle .icon:nth-of-type(9) {
    animation: wiggle 0.2408590866s linear infinite 0.1646137614s;
    transform-origin: 67.2776924317% 45.0158071918%;
  }
  
  .wiggle .icon:nth-of-type(10) {
    animation: wiggle 0.2569405367s linear infinite 0.2362938778s;
    transform-origin: 28.1730274748% 28.1885576127%;
  }
  
  .wiggle .icon:nth-of-type(11) {
    animation: wiggle 0.2213066196s linear infinite 0.0148142847s;
    transform-origin: 51.4614845978% 50.1131893155%;
  }
  
  .wiggle .icon:nth-of-type(12) {
    animation: wiggle 0.2034142576s linear infinite 0.0572362726s;
    transform-origin: 26.4150242819% 41.3724089953%;
  }
  
  .wiggle .icon:nth-of-type(13) {
    animation: wiggle 0.2125234209s linear infinite 0.0810994983s;
    transform-origin: 67.5545226082% 62.3367357176%;
  }
  
  .wiggle .icon:nth-of-type(14) {
    animation: wiggle 0.2284569116s linear infinite 0.1110339008s;
    transform-origin: 73.7523097677% 73.6370232971%;
  }
  
  .wiggle .icon:nth-of-type(15) {
    animation: wiggle 0.2564978086s linear infinite 0.0674915416s;
    transform-origin: 28.8821346806% 68.9250772053%;
  }
  
  .wiggle .icon:nth-of-type(16) {
    animation: wiggle 0.2875263605s linear infinite 0.1281883839s;
    transform-origin: 68.0046063821% 54.2425111169%;
  }
  
  .wiggle .icon:nth-of-type(17) {
    animation: wiggle 0.276707559s linear infinite 0.2473029004s;
    transform-origin: 33.4504843877% 68.2046513233%;
  }
  
  .wiggle .icon:nth-of-type(18) {
    animation: wiggle 0.2971590631s linear infinite 0.0149422668s;
    transform-origin: 52.9442405361% 62.8737613191%;
  }
  
  .wiggle .icon:nth-of-type(19) {
    animation: wiggle 0.2456702034s linear infinite 0.1417656594s;
    transform-origin: 51.5627605186% 34.2313857784%;
  }
  
  .wiggle .icon:nth-of-type(20) {
    animation: wiggle 0.2449468275s linear infinite 0.060257885s;
    transform-origin: 59.8340277938% 28.5780644932%;
  }
  
  .wiggle .icon:nth-of-type(21) {
    animation: wiggle 0.2426852551s linear infinite 0.1153184939s;
    transform-origin: 41.9760424472% 25.6416194005%;
  }
  
  .wiggle .icon:nth-of-type(22) {
    animation: wiggle 0.2468213199s linear infinite 0.1131470205s;
    transform-origin: 51.9663963356% 36.9628899764%;
  }
  
  .wiggle .icon:nth-of-type(23) {
    animation: wiggle 0.2068830008s linear infinite 0.122272335s;
    transform-origin: 35.344494562% 54.9376304066%;
  }
  
  .wiggle .icon:nth-of-type(24) {
    animation: wiggle 0.2660524705s linear infinite 0.1190510276s;
    transform-origin: 66.6060331063% 41.0058854475%;
  }
  
  .wiggle .icon:nth-of-type(25) {
    animation: wiggle 0.2934190411s linear infinite 0.1680868212s;
    transform-origin: 56.0579018052% 67.7264889412%;
  }
  
  .wiggle .icon:nth-of-type(26) {
    animation: wiggle 0.2378335381s linear infinite 0.2191107354s;
    transform-origin: 73.828014681% 49.8207545905%;
  }
  
  .wiggle .icon:nth-of-type(27) {
    animation: wiggle 0.2887063137s linear infinite 0.1186902755s;
    transform-origin: 28.5485117152% 61.6490356205%;
  }
  
  .wiggle .icon:nth-of-type(28) {
    animation: wiggle 0.2526491744s linear infinite 0.1087006154s;
    transform-origin: 62.3869666423% 70.5714726159%;
  }
  
  .home, .camera, .proximity, .speaker, .silence, .volume-up, .volume-down, .sleep {
    position: absolute;
  }
  
  .home, .camera, .proximity {
    border-radius: 50%;
  }
  
  .speaker, .silence, .volume-up, .volume-down, .sleep, .proximity {
    background-color: #525c6b;
  }
  
  .home, .speaker, .camera, .proximity {
    left: 50%;
  }
  
  .home, .speaker {
    margin-left: -3vh;
    width: 6vh;
  }
  
  .home, .camera {
    border: 0.5vh solid #525c6b;
  }
  
  .home {
    height: 6vh;
    bottom: 2vh;
  }
  
  .speaker {
    top: 4.75vh;
    height: 0.5vh;
    border-radius: 0.5vh;
  }
  
  .camera {
    width: 1.5vh;
    height: 1.5vh;
    top: 4.25vh;
    margin-left: -6.5vh;
  }
  
  .proximity {
    width: 1vh;
    height: 1vh;
    top: 2vh;
    margin-left: -0.5vh;
  }
  
  .silence, .volume-up, .volume-down, .sleep {
    width: 0.5vh;
  }
  
  .volume-up, .volume-down, .sleep {
    height: 5vh;
  }
  
  .silence, .volume-up, .volume-down {
    left: -0.75vh;
  }
  
  .silence {
    height: 3vh;
    top: 10vh;
  }
  
  .volume-up, .sleep {
    top: 17vh;
  }
  
  .volume-down {
    top: 24vh;
  }
  
  .sleep {
    right: -0.75vh;
  }